{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% load humanize %}
  <h2>My Positions</h2>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Percent Return</th>
        <th>Dollar Return</th>
        <th>Market Value</th>
        <th>Allocation</th>
      </tr>
    </thead>
    <tbody>
      {% for position_dict in position_data %}
      <tr>
        <td>{{ position_dict.position.symbol|upper }}</td>
        <td>{{ position_dict.position.quantity|floatformat:"0"|intcomma }}</td>
        <td>{{ position_dict.position.price }}</td>
        <td>{{ position_dict.position.cost }}</td>
        <td><span class="{{ position_dict.css_class_pct }}">{{ position_dict.position.price_return|floatformat:"2" }}%</span></td>
        {% if position_dict.position.dollar_return < 0 %}
          <td><span class="{{ position_dict.css_class_dollar }}">(${{ position_dict.position.dollar_return|floatformat:"2"|cut:"-"|intcomma }})</span></td>
        {% else %}
        <td><span class="{{ position_dict.css_class_dollar }}">${{ position_dict.position.dollar_return|floatformat:"2"|intcomma }}</span></td>
        {% endif %}
        <td>${{ position_dict.position.market_value|floatformat:"0"|intcomma }}</td>
        <td>{{ position_dict.position.percent_portfolio|floatformat:"2" }}%</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">No positions found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}