{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% load humanize %}
<h2>Positions for {{ user.username }}</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Market Value</th>
    </tr>
{% for position in positions %}
<h2>{{ position.title }}</h2>
<p>{{ position.description }}</p>
    <tr>
        <td>{{ position.symbol|upper }}</td>
        <td>{{ position.quantity|floatformat:"0"|intcomma }}</td>
        <td>${{ position.price|floatformat:"2" }}</td>
        <td>${{ position.market_value|floatformat:"0"|intcomma }}</span></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No positions found.</td>
    </tr>
{% endfor %}
</table>
{% endblock %}