{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% load humanize %}
<h2>Recent Transactions</h2>
<table>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Type</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Notes</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.user.username }}</td>
            <td>{{ transaction.timestamp|date:"F j, Y" }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.symbol|upper }}</td>
            <td>{{ transaction.quantity|intcomma }}</td>
            <td>{{ transaction.price|floatformat:"2"|intcomma }}</td>
            <td>{{ transaction.notes }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7">No transactions found.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
