{% extends 'base.html' %}

{% block content %}
{{ block.super }}
  <h2>Accounts</h2>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Account Value</th>
      </tr>
    </thead>
    <tbody>
      {% for user_account in user_account_values %}
        <tr>
          <td><a href="{% url 'user_positions' user_account.user_id %}">{{ user_account.user__username }}</a></td>
          <td>{{ user_account.accountvalue__value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}